{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}
    Add New File
{% endblock %}


{% block content %}
    <div class="container">
      <h2 class="title">Upload a new file</h2>

      <form method="POST" action="{{ url_for('upload_file') }}" enctype="multipart/form-data">
          {{ form.csrf_token }}
          {{ form.options.label }}
          {{ form.options }}
          <fieldset class="form-field">
              {{ form.file.label }}
              {{ form.file }}
          </fieldset>

          <fieldset class="form-field">
              {{ form.desc.label }}
              {{ form.desc }}
          </fieldset>

          <fieldset class="form-field">
              {{ form.thrust.label }}
              {{ form.thrust }}
          </fieldset>

            <input class="btn btn-primary mb-2", type="submit", value="Upload">
      </form>

    {% for message in get_flashed_messages() %}
        <p>{{ message }}</p>
    {% endfor %}


    </div>
{% endblock %}