<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
                           integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Search for PDF v1.0</title>
  </head>
  <body>
    <div class="container">
      <h1>Search for PDF</h1>

      <form class="form-inline" action="{{ url_for('pdf') }}" method="post">
        <div class="form-group mx-sm-3 mb-2">
          <input type="text" class="form-control" name="searchTerm" value="" placeholder="Enter search term(s)">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Search</button>
          &nbsp;
          <a href="/add" class="btn btn-primary mb-2">Add New File</a>

      </form>

      <div class="numresults" style="font-weight: bold;">
        {% if numresults is not none %}
        Number of Results:
        <span style="margin-left: 12px;">{{ numresults }}</span>
        {% endif %}
      </div>

      {% if results and results|length > 0 %}
        <table class="table">
          <thead>
            <tr>
              <th>File Name</th>
                <th>Page</th>
                <th>Line</th>
              <th>Detail</th>
              <th> </th>
            </tr>
          </thead>
          <tbody>
            {% for document in results %}
              <tr>
                <td>{{ document['file_name'] }}</td>
                  <td>{{ document['page_num'] }}</td>
                  <td>{{ document['line_num'] }}</td>
                <td>{{ document['text'] }}</td>
                <!-- <td><button type="get" class="btn btn-primary mb-2">Get</button><td> -->
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
  </body>
</html>