{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}
    New Login
{% endblock %}


{% block content %}
    <div class="container">
      <h2 class="title">Add a New User</h2>

      <form method="POST" action="{{ url_for('addLogin') }}" enctype="multipart/form-data">
          {{ form.csrf_token }}

          <fieldset class="form-field">
              {{ form.username.label }}
              {{ form.username }}
          </fieldset>

          <fieldset class="form-field">
              {{ form.password.label }}
              {{ form.password }}
          </fieldset>

          <fieldset class="form-field">
              {{ form.confirmPassword.label }}
              {{ form.confirmPassword }}
          </fieldset>

            <input class="btn btn-primary mb-2", type="submit", value="Create New Account">
      </form>

    {% for message in get_flashed_messages() %}
        <p>{{ message }}</p>
    {% endfor %}


    </div>
{% endblock %}