.collapsible {

      cursor: pointer;
      padding: 3px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;
      background-color: transparent;
    }

    .active, .collapsible:hover {
      background-color: #d4e2fa;
    }

    .content {
      padding: 0 3px;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
      background-color: #f1f1f1;
    }


.pagination {
  display: inline-block;
    float: right;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}


.pagination a:hover:not(.active1) {background-color: #ddd;}

.get-file{
    color : white !important;
}